Repository maia-sdr/maia-sdr, pull requests merged in 2023-04, with the labels that each got.

#43 Add Inferno colormap
  maia-wasm/assets/index.html
  maia-wasm/src/colormap/inferno.rs
  maia-wasm/src/colormap/mod.rs
  maia-wasm/src/ui/colormap.rs
Labels: enhancement, maia-wasm

#53 maia-wasm: fix cargo categories
  maia-wasm/Cargo.toml
Labels: maia-wasm

#54 maia-httpd: update Cargo.lock
  maia-httpd/Cargo.lock
Labels: maia-httpd
